:root {
    --main-color   : #ff9800;
    --setting-width: 178px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left : 15px;
    padding-right: 15px;
    margin       : auto;
    position     : relative;
}

/* Start Setting Box */
.setting-box {
    position        : fixed;
    top             : 0;
    left            : -200px;
    background-color: #fff;
    width           : 200px;
    z-index         : 100;
    min-height      : 100vh;
    transition      : .3s;
    border          : 1px solid #676767;
}

.setting-box.open {
    left: 0;
}

.setting-box .toggle-setting {
    position        : absolute;
    right           : -30px;
    top             : 100px;
    background-color: #fff;
    text-align      : center;
    cursor          : pointer;
}

.setting-box .toggle-setting i {
    width : 30px;
    margin: 8px 0;
}

.setting-box .option-box {
    padding         : 10px;
    text-align      : center;
    margin          : 10px;
    background-color: #eee;

}

.setting-box .option-box h4 {
    margin   : 0;
    color    : #666;
    font-size: 14px;
}

.setting-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding   : 0;
    margin    : 10px 0 0;
}

.setting-box .option-box .colors-list li {
    width        : 25px;
    height       : 25px;
    cursor       : pointer;
    border-radius: 50%;
    display      : inline-block;
    opacity      : 0.5;
    border       : 3px solid #eee;
}

.setting-box .option-box .colors-list li.active {
    opacity     : 1;
    border-color: #fff;
}

.setting-box .option-box .colors-list li:first-child {
    background-color: #ff9800;
}

.setting-box .option-box .colors-list li:nth-child(2) {
    background-color: #1ea5e9;
}

.setting-box .option-box .colors-list li:nth-child(3) {
    background-color: #e91eba;
}

.setting-box .option-box .colors-list li:nth-child(4) {
    background-color: #4a1ee9;
}

.setting-box .option-box .colors-list li:nth-child(5) {
    background-color: #e9d11e;
}

.setting-box .option-box .yes,
.setting-box .option-box .no {
    width           : 50px;
    background-color: #008988;
    color           : #fff;
    margin-top      : 10px;
    font-size       : 14px;
    opacity         : 0.5;
    padding         : 4px 10px;
    border-radius   : 4px;
    display         : inline-block;
    font-weight     : bold;
    cursor          : pointer;
}

.setting-box .option-box span.active {
    opacity: 1;
}

.setting-box .reset-optinos {
    cursor          : pointer;
    background-color: var(--main-color);
    color           : #fff;
    padding         : 10px;
    width           : 178px;
    font-weight     : bold;
    margin          : 10px auto;
    display         : block;
    border-radius   : 4px;
    opacity         : .7;
    border          : none;
}

.setting-box .reset-optinos:hover {
    opacity: 1;
}

/* End Setting Box */

/* Start Landing Page */
.landing-page {
    min-height      : 100vh;
    background-image: url("../imgs/landing-05.jpeg") !important;
    background-size : cover;
    position        : relative;
    transition      : 1s;
}

.landing-page .overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.landing-page .header-area {
    position: relative;
    color   : #fff;
    display : flex;

    padding: 10px;
}

.header-area .logo {
    width      : 300px;
    padding    : 15px;
    font-weight: bold;
}

.header-area .links {
    list-style   : none;
    width        : 100%;
    padding-right: 20px;
    padding-left : 0;
}

.header-area .links-container {
    width     : 100%;
    text-align: right;
}

.header-area .links li {
    display    : inline-block;
    margin-left: 10px;
}

.header-area .links li span {
    color          : #fff;
    text-decoration: none;
    transition     : .3s;
    cursor         : pointer;
}

.header-area .links li span:hover,
.header-area .links li span.active {
    color: var(--main-color);
}

.header-area .toggle-menu {
    border    : none;
    background: none;
    width     : 40px;
    margin-top: 15px;
    cursor    : pointer;
    display   : none;
}

.header-area .toggle-menu.menu-active::before {
    content     : "";
    position    : relative;
    border      : 10px solid #fff;
    border-color: transparent transparent #fff transparent;
    left        : 0px;
    bottom      : -35px;


}

.header-area .toggle-menu span {
    height          : 4px;
    margin-bottom   : 8px;
    background-color: #fff;
    display         : block;
}

.intro-text {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    color     : #fff;
    text-align: center;
    width     : 92%;
}

.intro-text span {
    color: var(--main-color);

}

.intro-text h1 {
    font-size: 34px;
    margin   : 0 0 12px;
}

@media(max-width:575px) {
    .intro-text h1 {
        font-size: 26px;
    }
}

.intro-text p {
    line-height: 1.6;
    font-size  : 20px;
    margin     : 0;
}

@media (max-width:991px) {
    .header-area .links {
        display: none;
    }

    .header-area .links.open {
        position        : absolute;
        left            : 0;
        top             : 75px;
        background-color: #fff;
        border-radius   : 4px;
        width           : 100%;
        padding         : 10px;
        display         : block;
        text-align      : left;
        z-index         : 10;
    }

    .header-area .links.open li span {
        font-weight: bold;
        color      : var(--main-color);
    }

    .header-area .links.open li {
        margin : 10px;
        display: block;
    }

    .header-area .toggle-menu {
        display: inline-block;
    }
}

/* End Landing Page */

/* Start about-us */
.about-us {
    padding-top   : 50px;
    padding-bottom: 50px;
    display       : flex;

}


.about-us .info-box {
    flex   : 1;
    padding: 30px;
}

@media(max-width:767px) {
    .about-us {
        display   : block;
        text-align: center;
    }

    .about-us .info-box {
        padding: 0;
    }
}

.about-us .info-box h2 {
    color      : var(--main-color);
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 10px;
}

.about-us .info-box p {
    line-height: 1.8;
    margin     : 0;
    color      : #767676;
}

.about-us .img-box {
    flex      : 1;
    text-align: center;
}

.about-us .img-box img {
    width: 250px;
}

/* End about-us */

/* Start Skills */
.skills {
    padding-top     : 50px;
    padding-bottom  : 50px;
    background-color: #eee;
}

.skills h2 {
    color      : var(--main-color);
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 50px;
    text-align : center;
}

.skills .skill-box {
    background-color: #fff;
    display         : flex;
    padding         : 15px;
    margin-bottom   : 15px;
}

.skills .skill-box .skill-name {
    line-height: 30px;
    font-weight: bold;
    width      : 140px;
    text-align : center;
}

@media(max-width:767px) {
    .skills .skill-box {
        display: block;
    }

    .skills .skill-box .skill-name {
        width        : 100%;
        margin-bottom: 15px;
    }
}

.skills .skill-box .skill-progress {
    height          : 30px;
    width           : 100%;
    border-radius   : 6px;
    background-color: #f6f6f6;
    position        : relative;
}

.skills .skill-box .skill-progress span {
    position        : absolute;
    top             : 0;
    height          : 100%;
    width           : 0;
    left            : 0;
    background-color: var(--main-color);
    transition      : all 0.3s;
}

/* End Skills */

/* Start Gallery */
.gallery {
    padding-top   : 50px;
    padding-bottom: 50px;
    text-align    : center;
}

.gallery h2 {
    color      : var(--main-color);
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 50px;
    text-align : center;
}

.gallery .images-box {
    text-align: center;
}

.gallery .images-box img {
    width           : 200px;
    height          : 125px;
    background-color: #f6f6f6;
    border          : 1px solid #ccc;
    margin          : 5px;
    cursor          : pointer;
    padding         : 5px;
}

.pop-overlay {
    position        : fixed;
    background-color: rgba(0, 0, 0, .7);
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    z-index         : 1000;
}

.pop-box {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    z-index         : 1001;
    background-color: #f6f6f6;
    border          : 1px solid #ccc;
    cursor          : pointer;
    padding         : 20px;
}

.pop-box h3 {
    text-align : center;
    font-weight: bold;
    margin     : 0 0 20px;
    color      : var(--main-color);
}

.pop-box .close-button {
    position        : absolute;
    top             : -15px;
    right           : -15px;
    width           : 40px;
    height          : 40px;
    background-color: var(--main-color);
    text-align      : center;
    line-height     : 40px;
    color           : white;
    font-size       : 20px;
    cursor          : pointer;
}

.pop-box img {
    max-width: 100%;


}

/* End Gallery */

/* Start Timeline */
.timeline {
    padding-top     : 50px;
    padding-bottom  : 50px;
    background-color: #eee;
}

.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content::before {
    content         : "";
    margin-left     : -1px;
    height          : 100%;
    width           : 2px;
    background-color: var(--main-color);
    position        : absolute;
    top             : 0;
    left            : 50%;

}

.timeline .timeline-content .year {
    background-color: var(--main-color);
    color           : #fff;
    margin          : 20px auto;
    text-align      : center;
    font-weight     : bold;
    position        : relative;
    border-radius   : 4px;
width: fit-content;
  padding: 12px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width        : calc(50% - 25px);
    margin-bottom: 40px;
    position     : relative;
}

@media(max-width:767px) {

    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width        : 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before {
        display: none;
    }

    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
        display: none;
    }


}

.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    content         : "";
    width           : 14px;
    height          : 14px;
    border-radius   : 50%;
    background-color: #fff;
    border          : 3px solid var(--main-color);
    position        : absolute;
    top             : 20px;
}

.timeline .timeline-content .right::before {

    left: -35px;
}

.timeline .timeline-content .left::before {

    right: -35px;
}

.timeline .timeline-content .right {
    float: right;
}

.clearfix {
    clear: both;
}

.timeline .timeline-content .content {
    background-color: #fff;
    padding         : 20px;
}

.timeline .timeline-content .content h3 {
    font-weight: bold;
    color      : var(--main-color);
    margin     : 0 0 10px;
}

.timeline .timeline-content .content p {
    color      : #666;
    line-height: 1.6;
    margin     : 0;
}

.timeline .timeline-content .left .content::before {
    content     : "";
    border-color: transparent transparent transparent #fff;
    border-width: 10px;
    position    : absolute;
    right       : -20px;
    top         : 20px;
    border-style: solid;

}

.timeline .timeline-content .right .content::before {
    content     : "";
    border-color: transparent #fff transparent transparent;
    border-width: 10px;
    position    : absolute;
    left        : -20px;
    top         : 20px;
    border-style: solid;

}

/* End Timeline */

/* Start Features */
.features {
    padding-top   : 80px;
    padding-bottom: 80px;

}

.features h2 {
    color      : var(--main-color);
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 60px;
    text-align : center;
}

.features .feat-box {
    width        : calc(100% / 3);
    margin-bottom: 40px;
    float        : left;
    text-align   : center;
}

@media (max-width:991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }
}

@media (max-width:575px) {
    .features .feat-box {
        width: 100%;
    }
}

.features .feat-box img {
    width        : 96px;
    height       : 96px;
    border-radius: 50%;
    padding      : 3px;
    border       : 3px solid #706f6f;
}

.features .feat-box h4 {
    font-size: 22px;
    margin   : 15px 0 40px;
    position : relative;

}

.features .feat-box h4::before {
    content         : "";
    position        : absolute;
    width           : 40px;
    height          : 4px;
    background-color: var(--main-color);
    margin-left     : -20px;
    left            : 50%;
    bottom          : -22px;
}

.features .feat-box p {
    width      : 80%;
    margin     : 0 auto;
    line-height: 1.7;
    color      : #706f6f;
}

/* End Features */

/* Start Testimonials */
.testimonials {

    position      : relative;
    padding-bottom: 80px;
    padding-top   : 80px;
}

.testimonials::before {
    content         : "";
    width           : 50%;
    position        : absolute;
    height          : 100%;
    top             : 0;
    left            : 0;
    background-color: var(--main-color);
    z-index         : -4;

}

.testimonials::after {
    content         : "";
    width           : 50%;
    position        : absolute;
    height          : 100%;
    top             : 0;
    right           : 0;
    background-color: #333;
    z-index         : -4;
}

.testimonials h2 {
    color      : #fff;
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 60px;
    text-align : center;
    text-shadow: -3px -4px 2px black;
}

.testimonials .ts-box {
    position        : relative;
    width           : calc(98% / 3);
    float           : left;
    background-color: #fff;
    padding         : 20px;
}

.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}

.testimonials .ts-box>p {
    margin     : 0 0 20px;
    line-height: 1.6;
    font-style : italic;
    font-size  : 18px;
    color      : #707070;
    text-align : center;
}

.testimonials .ts-box .person-info {
    overflow: hidden;
}

.testimonials .ts-box .person-info h4 {
    margin: 14px 0 10px;

}

.testimonials .ts-box .person-info p {
    margin: 0;
    color : #707070;
}

.testimonials .ts-box .person-info img {
    height       : 100px;
    width        : 100px;
    float        : left;
    margin-right : 10px;
    border-radius: 50%;
}

@media(max-width:991px) {
    .testimonials .ts-box .person-info {
        text-align: center;
    }

    .testimonials .ts-box .person-info img {
        float       : none;
        margin-right: 0;
    }
}

@media (max-width:767px) {
    .testimonials .ts-box {
        float        : none;
        width        : 100%;
        margin-bottom: 15px;
    }
}

/* End Testimonials */
/* Start Nav Bullets */
.nav-bullets {
    position : fixed;
    right    : 0;
    top      : 50%;
    transform: translateY(-50%);
    width    : 40px;
    z-index  : 10;
}

.nav-bullets .bullet {
    border       : 3px solid var(--main-color);
    width        : 20px;
    height       : 20px;
    margin       : 20px auto;
    border-radius: 50%;
    cursor       : pointer;
    position     : relative;
}

.nav-bullets .bullet .tooltip {
    position        : absolute;
    background-color: var(--main-color);
    color           : #fff;
    padding         : 8px 10px;
    right           : 28px;
    top             : -12px;
    width           : 107px;
    display         : none;
    pointer-events  : none;

}

.nav-bullets .bullet:hover .tooltip {
    display: block;
}

.nav-bullets .bullet .tooltip::before {
    content     : "";
    border-color: transparent transparent transparent var(--main-color);
    border-width: 10px;
    position    : absolute;
    right       : -20px;
    top         : 50%;
    border-style: solid;
    transform   : translateY(-50%)
}

/* End Nav Bullets */
/* Start contact  */
.contact {
    position        : relative;
    background-image: url("../imgs/landing-02.jpg");
    padding-top     : 80px;
    padding-bottom  : 80px;
    background-size : cover;
}

.contact .overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.contact h2 {
    color      : #fff;
    font-weight: bold;
    font-size  : 30px;
    margin     : 0 0 60px;
    text-align : center;
    text-shadow: -3px -4px 2px black;
}

.contact form {
    overflow : hidden;
    max-width: 800px;
    margin   : auto;

}

.contact form .left {
    float: left;
    width: 49%;
}

.contact form .right {
    float: right;
    width: 49%;
}

@media (max-width: 767px) {

    .contact form .left,
    .contact form .right {
        width: 100%;
        float: none;
    }
}

.contact form input:not([type="submit"]),
.contact form textarea {
    display         : block;
    padding         : 10px;
    margin-bottom   : 15px;
    width           : 100%;
    border          : 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main-color);

}

.contact form input {
    height: 40px;

}

.contact form textarea {
    height: 150px;

}

.contact form input[type="submit"] {
    background-color: var(--main-color);
    padding         : 10px;
    width           : 100%;
    border-color    : transparent;
    cursor          : pointer;
    color           : #fff;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not[type="submit"]:focus::-webkit-input-placeholder {
    opacity   : 0;
    transition: .3s;
}

.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not[type="submit"]:focus::-ms-input-placeholder {
    opacity   : 0;
    transition: .3s;
}

.contact form textarea:focus::placeholder,
.contact form input:focus::placeholder {
    opacity   : 0;
    transition: .3s;
}

/* End contact  */
/* Start Footer */
.footer{
    text-align: center;
    background-color:#333;
    padding: 20px;
    color: #fff;
}
.footer span{
    color: var(--main-color);
}
/* End Footer */
/* Start Grid System */


@media(min-width:576px) {

    /* Small Devices=> landscape phones */
    .container {
        width: 540px;
    }
}

@media(min-width:768px) {

    /* Medium Devices=> Tablets */
    .container {
        width: 720px;
    }
}

@media(min-width:992px) {

    /* Desktops=>  */
    .container {
        width: 960px;
    }
}

@media(min-width:1200px) {

    /* Large Screens */
    .container {
        width: 1140px;
    }
}

/* End Grid System */
